{% extends 'dashboard.twig' %}

{% block title %}
    <title>D2L++</title>
{% endblock %}

{% block content %}
    <!--Table-->
    <table class="table">
       <!--Table head-->
       <thead class = "blue-grey lighten-4">
           <tr>
               <th>Deliverable</th>
               <th></th>
               <th></th>
               <th></th>
           </tr>
        </thead>
        <tbody>
            {% for deliverable in deliverables %}
                <form method="post" action="/deliverables/{{ deliverable.id }}" enctype="multipart/form-data">
                    <tr>
                        <td>{{deliverable.name}}</td>
                        <td><input type="file" name="file" size="50" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Choose File</input></td>
                        <td><input type="submit" value="Upload" class="btn blue-gradient btn-block btn-rounded z-depth-1a"/></td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
