{% extends 'base.twig' %}

{% block title %}
    <title>D2L++</title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/static/css/index.css"/>
{% endblock %}

{% block body %}
    <section id="login-form" class="form-elegant">
        <form modelAttribute="sign-in-form" method="POST" action="/">
            <div class="card">
                <div class="card-body mx-4">
                    <!--Header-->
                    <div class="text-center">
                        <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
                    </div>
                    <!--Body-->
                    <div class="md-form">
                        <input type="text" id="username-form" class="form-control" name="username">
                        <label for="Form-email1">Username</label>
                    </div>
                    <div class="md-form pb-3">
                        <input type="password" id="password-form" class="form-control" name="password">
                        <label for="Form-pass1">Your password</label>
                    </div>
                    <div class="text-center mb-3">
                        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </div>
                </div>
            </div>
        </form>
        <!--/Form without header-->
    </section>
    <script type="text/javascript">
        if("{{ loginError }}")
            toastr.warning('Invalid username or password.');
    </script>
{% endblock %}